forcechart .node {
  stroke: #fff;
  stroke-width: 1.5px;
}
forcechart .link {
  stroke: #999;
  stroke-opacity: .6;
}

circlepackchart text {
  font-size: 11px;
  pointer-events: none;
}
circlepackchart text.parent {
  fill: rgb(0, 169, 224);
}
circlepackchart circle {
  fill: rgb(167, 230, 215);
  stroke: #999;
  pointer-events: all;
}
circlepackchart circle.parent {
  fill: rgb(0, 169, 224);
  fill-opacity: .1;
  stroke: steelblue;
}
circlepackchart circle.parent:hover {
  stroke: rgb(206, 0, 88);
  stroke-width: .5px;
}
circlepackchart circle.child {
  pointer-events: none;
}
