<form role="form">
  <div class="form-group">
    <h2>Web Service Description</h2>
    </br>
    <label for="sample">Enter url</label>
    <input type="text" class="form-control" ng-model="config.url" />

    <label for="sample">Enter param</label>
    <input type="text" class="form-control" ng-model="config.param" />

  </div>
  <div class="form-group">
    <a ng-click="callTI()" ng-if="!config.cache"><span class="glyphicon glyphicon-eye-open" ></span> Get Data</a>
    <a class="button button-primary" ng-click="toggleCache()" ng-if="!config.cache"><span class="glyphicon glyphicon-folder-open" ></span> Cache the data</a>
    <a class="button button-primary" ng-click="toggleCache()" ng-if="config.cache"><span class="glyphicon glyphicon-remove-sign" ></span> Delete the cache</a>
  </div>
</form>

<form role="form">
  <div class="form-group">
    <textarea class="col-md-12" name="name" rows="10" ng-model=data></textarea>
    </div>
</form>

<form role="form">
  <div class="form-group">
    <label for="sample">Select ChartType</label>
    </br>
    <select ng-model="config.chartType"
            ng-options="item as item for item in chartOptions"></select>
  </div>
</form>

<form role="form" ng-if="['Bar','Line','Pie','Doughnut','Radar'].indexOf(config.chartType)!=-1">
  <div class="form-group" ng-if="config.chartType=='Bar'">
    Bar Chart expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
    and the data to be an array of arrays (ex: [[0,1,2, ...], [3,4,5, ...], ...])
  </div>

  <div class="form-group" ng-if="config.chartType=='Line'">
    Line Chart expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
    and the data to be an array of arrays (ex: [[0,1,2, ...], [3,4,5, ...], ...])
  </div>

  <div class="form-group" ng-if="config.chartType=='Pie'">
    Pie Chart expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
    and the data to be an array (ex: [0,1,2, ...] )
  </div>

  <div class="form-group" ng-if="config.chartType=='Doughnut'">
    Doughnut Chart expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
    and the data to be an array (ex: [0,1,2, ...])
  </div>

  <div class="form-group" ng-if="config.chartType=='Radar'">
    Radar Chart expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
    and the data to be an array of arrays (ex: [[0,1,2, ...], [3,4,5, ...], ...])
  </div>

  <div class="form-group">
    <label for="sample">Enter Formula for Labels</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.labelsFormula"></div>

    <label for="sample">Enter Formula for data</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.dataFormula"></div>
  </div>
</form>

<form role="form" ng-if="['Table'].indexOf(config.chartType)!=-1">
  <div class="form-group">

    <div class="form-group" >
      Table expects the labels to be an array of strings (ex: ["Pear","Banana", ... ])
      and the data to be an array of arrays (ex: [[0,1,2, ...], [3,4,5, ...], ...])
    </div>

    <label for="sample">Enter Formula for Header</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.headerFormula"></div>

    <label for="sample">Enter Formula for data</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.dataFormula"></div>

  </div>
</form>

<form role="form" ng-if="config.chartType=='GoogleMap'">
  <div class="form-group">

    <div class="form-group" >
      Google Map Chart expects the center to be a place that can be geolocated. The scale is a the zoom
      level (integer between 1-10). The points to be an array of objects with id, name, latitude and
      longitude attribute (ex: [{ id: "City A", name:"City A", latitude: 2.3, longitude:3.4 }, ... ]).
      The routes need to be an array of objects with attribute origin (string), destination (string)
      path which is an array of objects with latitude and longitude attributes
      (ex: [{ origin: "Paris", destination: "Madrid", path:[{longitude:2.3,latitude:3.4},{longitude:2.3,latitude:3.4}]}, ...])
    </div>

    <label for="sample">Center</label>
    <input type="text" class="form-control" ng-model="config.center" />

    <label for="sample">Scale</label>
    <input type="text" class="form-control" ng-model="config.scale" />

    <label for="sample">Enter Formula for Points</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.pointsFormula"></div>

    <label for="sample">Enter Formula for Routes</label>
    <div ui-codemirror ui-codemirror-opts="jsedit" ng-model="config.routesFormula"></div>

  </div>
</form>
